{% extends 'base.html' %}
{% set active_page = "background" %}

{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Removedor de background!</h1>

    <h3>Instruções:</h3>
    <h4>Clique no botão "Capturar background" para fazer um snapshot do fundo.</h4>
    <h4>Para melhor efetividade, tire o snapshot somente do fundo e depois apareça na camera para visualizar o
        fundo removido!</h4>
    <img src="{{ url_for('background_frame') }}" width="50%" style="margin-left: 20em"/>
    <form method="post" action="/background">
        <button type="submit" class="btn btn-secondary" value="capturabg" name="capturabg" style="margin: 10px auto 10px 20em;">
            Capturar background!
        </button>
    </form>
</div>
{% endblock %}