{% extends 'base.html' %}
{% set active_page = "background" %}

{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Removedor de background!</h1>
    {% if session['background_set'] == True  %}
      <img src="{{ url_for('background_frame') }}" width="50%"/>
    {% else %}
        <h2>Instruções:</h2>
        <h3>Clique no botão "Capturar background" para fazer um snapshot do fundo.</h3>
        <h3>Para melhor efetividade, tire o snapshot somente do fundo e depois apareça na camera para visualizar o
        fundo removido!</h3>

    {% endif %}
    <form method="post" action="/background">
      <button type="submit" class="btn btn-secondary" value="capturabg" name="capturabg">Capturar background!</button>
    </form>
</div>
{% endblock %}